.product_card_box {
  min-height: 85vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .product_card{
    width: 17vw;
    height: 15vh;
    margin:auto;
    margin-left:20px;
    margin-right:20px;
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  */

.card {
  background-color: #ddd;
  width: 20vw;
  height: 35vh;
  margin: 3vw;
}
.card_btn {
  width: 45px;
  margin: auto;
  margin-bottom: 10px;
}
.card_img {
  height: 15vh;
  background-position: center center;
  background-size: auto 100%;
}

.products_button_box {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products_button_box button {
  margin: 6px;
}
@media screen and (max-width: 479px) {
  .card {
    width: 70vw;
    height: 35vh;
  }
}

@media screen and (min-width: 480px) and (max-width: 820px) {
  .card {
    width: 35vw;
    height: 60vh;
  }
}

@media screen and (max-width: 325px) {
  .card {
    width: 70vw;
    height: 45vh;
  }
}

@media screen and (max-width: 325px) {
  .card {
    width: 70vw;
    height: 45vh;
  }
}

