.product_card_box {
  min-height: 85vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .product_card{
    width: 17vw;
    height: 15vh;
    margin:auto;
    margin-left:20px;
    margin-right:20px;
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  */

.card {
  background-color: #ddd;
  width: 20vw;
  height: 35vh;
  margin: 3vw;
}
.card_btn {
  width: 45px;
  margin: auto;
  margin-bottom: 10px;
}
.card_img {
  height: 15vh;
  background-position: center center;
  background-size: auto 100%;
}

.products_button_box {
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.products_button_box button {
  margin: 6px;
}

/*  //Samsung Galaxy S3 ----------- 
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .card {
    width: 35vw;
    height: 60vh;
  }
}
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .card {
    width: 65vw;
    height: 40vh;
  }
}
 */
/* планшеты */
@media only screen and (max-width: 1920px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 25vw;
    height: 35vh;
  }
}
@media only screen and (max-height: 1920px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 40vw;
    height: 30vh;
  }
}
/*айфоны большие и другие */
@media only screen and (max-width: 824px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 30vw;
    height: 60vh;
  }
}
@media only screen and (max-height: 824px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 65vw;
    height: 35vh;
  }
}
/*  surface  */
@media only screen and (max-width: 720px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 35vw;
    height: 45vh;
  }
}
@media only screen and (max-height: 720px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 35vw;
    height: 38vh;
  }
}
/* маленькие айфоны и другие */
@media only screen and (max-width: 735px) and (max-height: 413px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 35vw;
    height: 60vh;
  }
}
@media only screen and (max-width: 413px) and (max-height: 735px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 3) {
  .card {
    width: 65vw;
    height: 38vh;
  }
}
/* малыши */
@media only screen and (max-width: 380px) and (max-height: 330px) and (orientation: landscape) {
  .card {
    width: 65vw;
    height: 70vh;
  }
}
@media only screen and (max-width: 330px) and (max-height: 380px) and (orientation: portrait) {
  .card {
    width: 70vw;
    height: 65vh;
  }
}
/* странный */
@media only screen and (max-height: 280px) and (orientation: landscape) {
  .card {
    width: 35vw;
    height: 75vh;
  }
}
@media only screen and (max-width: 280px) and (orientation: portrait) {
  .card {
    width: 70vw;
    height: 45vh;
  }
}
