.product_card_box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80vh;
}
/* .product_card{
    width: 17vw;
    height: 15vh;
    margin:auto;
    margin-left:20px;
    margin-right:20px;
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  */

.card {
  width: 20vw;
  height: 35vh;
  margin: 3vw;
}
.card_btn {
  width: 45px;
  margin: auto;
  margin-bottom: 10px;
}
.card_img {
  height: 15vh;
  background-position: center center;
  background-size: auto 100%;
}
